.footer__top{
  background-color: $color-extra1;
  padding-top: 70px;
  padding-bottom: 80px;  
    .nav__productos{
      h2{
        color: $white; font-size: 20px; margin: 0; margin-bottom: 30px; font-family: $altfont;
      }
      ul{
          padding: 0;
          list-style: none;                
          li { 
              display: inline-block;
              margin-bottom: 5px;
              color: $white;   
              font-size: 14px;
              &.current-menu-item{          
                a{
                  color:$color-base;
                }
              }
              &:last-child{
                margin-bottom: 0px;
              }
              &:hover{transition: $hovertransition;
                a{
                  color: $color-base;
                  &::after{
                    transform-origin: bottom left;
                    transform: scaleX(1);
                  }
                }
              }
              > a {                        
                  color:$color-base;
                  font-size: 16px; 
                  font-weight: 500;  
                  transition: all 0.5s; 
                  padding: 0px;
                  position: relative;
                  &::after{
                    content: "";              
                    height: 4px;
                    width: 100%;
                    background: $color-secondary;
                    position: absolute;
                    left: 0%;
                    bottom: -5px;
                    z-index: -1;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                  }           
                  &:hover {
                      transition: all 0.5s; 
                  }
              }                   
          }          
      }
  }
  .footer__top-contenido{
    h2{
      margin: 0; color: $white; font-family: $altfont; font-size: 50px; margin-bottom: 20px;
    }
    p{
      margin: 0; font-weight: 400; color: $white; font-size: 14px; line-height: 22px; padding-right: 50px;
    }
    .footer__logo {
      max-width: 290px;
    }
  }
  .footer__contacto{
    background-color: $white;
    position: relative;
    padding: 30px 25px;
    h2{
      margin: 0; font-family: $altfont2; font-size: 33px; color: $color-base;
    }
    h3{
      margin: 0; font-family: $altfont2; font-size: 20px; color: $color-base; margin-bottom: 10px;
    }
    p{
      font-size: 16px; margin: 0; color: $textcolor; line-height: 38px; font-weight: 600;
      a{
        color: $textcolor; &:hover{color: $color-secondary;}
      }
    }
    img.img-icon{
      height: 32px;
      vertical-align: middle;
      margin-right: 5px;
    }
    img.img-footer{
      position: absolute;
      top: -25%;
      right: -111px;
    }
  }
  .footer__back{
      text-align: right;      
      a{
        color: $black;
        letter-spacing: 4px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 25px;
        padding: 5px 15px;
        background-color: $color-secondary;
        cursor: pointer;
        text-transform: uppercase;
        &:hover{
          color: $white;
          background-color: $color-base;
          transition: $hovertransition;
            img {
                animation-name: destaca;
                animation-duration: 0.3s;
            }
        }
          img { width: 50px; }
      }
  }
}

.footer__bottom{  
  background-color: $color-base;  
  .footer__texto2{            
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    p{font-size: 16px; font-weight: 400; color:$white; margin: 0;
      a{
        color:$white;        
        padding-bottom: 3px;
        &:hover{
          color: $color-extra1;
          transition: $hovertransition;
        }
      }
    }
  }
}