header.header .container {
    max-width: 1080px;
}
.llamanos {
    position: absolute;
    right: 30px;
    top: -15px;
    background-position: center top;
    background-image: url(../img/bg-telmenu.png);    
    background-repeat: no-repeat;
    max-width: 200px;
    display: block;
    width: 100%;
    height: 43px;
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    font-family: $altfont;
}
.header__logo {    
    padding: 15px 0; color: $white; transition-duration: 0.6s; background-color: $white;
    background-position: center top;
    background-image: url(../img/bg-header.jpg);    
    background-repeat: no-repeat;       
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
    p { font-size: 16px; margin-bottom: 0px; transition: all 0.5s; position: absolute; top:-7px; left: 7px; font-family: $altfont; }
    h1.logo { text-align: center; margin: auto;
        a { padding: 0px; margin: 0;
            img {
                transition: all 0.2s; width: 100%;
                width: auto;
                height: 85px;           
            }
        }
    }
}
.menu__home{
    display: none;
    &.abierto {
        max-width: 350px; transition: width 0.5s;
    }
    &.cerrado {
        background: none;
    }    
    .menu__home--header{                
        position: relative;
        h1{margin: 0;            
            img{ width: auto;
                height: 75px;}
        }
        .menu__close{
            text-align: right;
            a{
                cursor: pointer;
                font-size: 13px;
                font-weight: 300;
                color: $color-base;
                margin: 0;
                text-decoration: none;
                img{margin-left: 10px;}
            }
        }
    }
    .nav-scroll{        
        ul#menu-scroll{display: none;}
        ul{             
            li{ 
                margin-bottom: 10px;
                &:first-child{
                    margin-bottom: 20px;
                }
                a{
                    font-weight: 500;
                    font-size: 22px;
                    color: $white;      
                    position: relative;       
                    z-index: 1;             
                    &:hover {
                        transition: all 0.5s; 
                    }              
                }
                &:hover{transition: $hovertransition;
                    a{                      
                      &::after{
                        content: "";              
                        height: 8px;
                        width: 100%;
                        background: $color-secondary;
                        position: absolute;
                        left: -8%;
                        bottom: 0;
                        z-index: -1;
                      }
                    }
                  }
                
            }
            .menu__rigth{
               margin-left: 25px;
            }
            .menu__small{
                a{
                    font-weight: 300;
                    font-size: 11px;
                }
                &:first-child{
                    margin-top: 40px;
                }
            }
            .menu__icon{
                display: inline-block; 
                margin-top: 20px;                                      
                img{
                    max-width: 70%;
                }               
                &:hover{
                    a{                          
                      &::after{content: none;}
                    }
                }                
                
            }
        }
    }
}

.header__botones{
    position: absolute;
    right: 0;
    .btn__header{
        display: block;
        font-weight: 500;
        font-size: 13px;
        color: $white;
        padding: 8px 20px;
        background-color: $color-secondary;
        padding-left: 15px;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 0;
        }
        img{padding-right: 5px; vertical-align: middle; width: 32px; }
        &:hover{
            background-color: $color-base;
            transition: $hovertransition;
        }      
    }
}