section.home__slider {
    background-color: #f3f3f3;    
    .item{
        background-repeat: no-repeat;    
        background-position: center bottom;
        background-size: cover;
        min-height: 670px;
        position: relative;
        .item__titulo{
            vertical-align: middle;            
            width: 25%;
            position: absolute;
            bottom: 15%;
            h2{ 
                color:$white; font-size: 54px; font-weight: 400; text-align: left; margin: auto; line-height: 1.1em; 
            }
            a{
                font-family: $altfont; font-size: 18px; color: $white; background-color: $color-secondary; padding: 15px 25px; margin-top: 20px; display: inline-block; transition: $hovertransition;
                &:hover{background-color: $color-base;}
            }
        }
    }    
}
section.home__nosotros{    
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url(../img/bg-nosotros.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    .home__nosotros--wrap2{
        padding-top: 50px;        
        h2{
            color: $color-secondary; font-size: 36px; margin: 0; text-transform: uppercase; margin-bottom: 20px;
            span{font-size: 18px; color: $color-base; display: block; padding-top: 5px;}
            &::after{
                content: "";     
                display: block;          
                background-color: $color-secondary;                
                height: 5px;
                width: 76px;
                margin-top: 15px;
            }
        }
        p{font-family: $altfont; line-height: 30px;}
        h3{margin: 0; font-size: 18px; color: $color-base;text-transform: uppercase; margin-bottom: 20px; margin-top: 40px;}
        a{
            font-family: $altfont; font-size: 18px; color: $white; background-color: $color-secondary; padding: 15px 20px; margin-top: 30px; display: block; transition: $hovertransition; max-width: 229px;
            img{padding-left: 15px;}
            &:hover{background-color: $color-base;}
        }
    }
}

section.home__atenea{
    background-image: url(../img/bg-atenea.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding: 50px 0;
    .home__atenea--titulo{
        text-align: center;
        h2{ font-size: 36px; margin: 0; color: $black; text-transform: uppercase; margin-bottom: 25px;
            span{
                color: $color-secondary;
            }
            &::after{
                content: "";     
                display: block;          
                text-align: center;
                margin: auto;
                background-color: $color-secondary;                
                height: 5px;
                width: 101px;
                margin-top: 10px;
            }
        }
    }
    .home__atenea--wrap{
        h2{margin: 0; font-size: 26px; text-transform: uppercase; margin-bottom: 15px;}
        p{font-family: $altfont; line-height: 27px; color: #333333; margin: 0;}
    }
}

section.home__valores{
    background-image: url(../img/bg-valores.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding: 50px 0;
    .home__valores--contenido{        
        h2{ font-size: 36px; margin: 0; color: $white; text-transform: uppercase; margin-bottom: 25px; text-align: center; font-weight: 400; margin-bottom: 50px;
            span{
                color: $color-secondary;
            }            
        }
        ul{
            list-style: none;            
            border-top: 1px solid $white;
            padding: 0;
            padding-top: 20px;
            li{
                display: inline-block; text-transform: uppercase; vertical-align: text-top;
                font-family: $altfont; color: $white; font-size: 18px; margin-right: 60px; position: relative;
                &:last-child{margin-right: 0;}
                &::before{
                    content: url(../img/icons/check.png);
                    border: 2px solid $white;
                    background-color: $color-base;
                    border-radius: 50%;
                    vertical-align: middle;                
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: -35px;
                    display: block;
                    text-align: center;
                }                
            }
        }
    }
}

section.home__servicios{        
    .home__servicios--header{
        .home__servicios--titulo{
            text-align: center;
            padding-top:60px;
            padding-bottom: 20px;
            h2{
                color: $color-base; font-size: 42px; margin: 0; text-transform: uppercase; margin-bottom: 20px; font-weight: 400;
                span.rojo{color:$color-secondary; ;}
                span{font-size: 18px; color: $color-base; display: block; padding-top: 5px; text-transform: initial;}
                &::after{
                    content: "";     
                    display: block;
                    margin: auto;       
                    background-color: $color-secondary;                
                    height: 5px;
                    width: 76px;
                    margin-top: 15px;
                }
            }
        }
    }
    .home__servicios--body{
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        .home__servicios--icon {
            position: absolute;
            bottom: -52px;
            left: -74px;
            z-index: 1;
        }
        .home__servicios--item{
            padding-top: 60px;
            margin-bottom: 50px;                      
            h2{font-size: 28px; color: $color-base; font-weight: 400; margin:0; margin-bottom: 10px; span{color: $color-secondary;} 
                &::before{                                             
                    width: 48px;
                    height: 41px;                    
                    vertical-align: middle;                    
                }
            }
            a{
                font-family: $altfont; font-size: 16px; color: $white; background-color: $color-secondary; font-weight: bold; padding: 15px 20px; margin-top: 20px; display: block; transition: $hovertransition; max-width: 180px; text-align: center; text-transform: uppercase; margin-left: 40px;
                &:hover{background-color: $color-base;}
            }        
            ul{
                padding:0;
                padding-left: 30px;
                margin-left: 40px;
                position: relative;
                li{
                    display: block;
                    margin-bottom: 15px;
                    &:last-child{margin-bottom: 0;}
                    p{font-family: $altfont; color: $textcolor; font-size: 14px; margin: 0; font-weight: 500;
                        &::before{
                            content: "";
                            background-image: url(../img/icons/icon-li.png);
                            background-repeat: no-repeat;
                            background-position: center left;
                            width: 19px;
                            height: 19px;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }      
        }
    }
    .servicio1{
        background-image: url(../img/bg-servicio1.jpg);
        .home__servicios--item h2:before{content: url(../img/icons/icon-servicio1.png);}
    } 
    .servicio2{
        background-image: url(../img/bg-servicio2.jpg);
        .home__servicios--item{  margin-bottom: 75px; margin-left: 50px;
            h2:before{content: url(../img/icons/icon-servicio2.png);}
        }       
    }  
    .servicio3{
        background-image: url(../img/bg-servicio3.jpg);
        .home__servicios--item h2:before{content: url(../img/icons/icon-servicio3.png);}
    }   
   
}

section.home__clientes{
    background-image: url(../img/bg-clientes.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    .home__clientes--contenido{
        text-align: center;
        margin-bottom: 30px;
        h2{ font-size: 36px; margin: 0; color: $black; text-transform: uppercase; margin-bottom: 25px;
            span{
                color: $color-secondary;
            }
            &::after{
                content: "";     
                display: block;          
                text-align: center;
                margin: auto;
                background-color: $color-secondary;                
                height: 5px;
                width: 101px;
                margin-top: 10px;
            }
        }
        p{color: $textcolor; font-size: 14px; font-weight: 400; font-family: $altfont; line-height: 27px; margin: 0; }
    }
    .home__clientes--trabajan{
        border: 7px solid $color-secondary;
        background-color: $white;
        padding: 60px 60px;
        padding-bottom: 50px;
        position: relative;
        max-width: 100%;
        margin: auto;
        margin-top: 15px;
        h2{
            font-size: 28px;            
            color: $color-base;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            position: absolute;
            top: -20px;
            background-color: white;
            padding-right: 45px;
            left: 0px;
            padding-left: 25px;                 
        }
        span{
            display: block;
            font-size: 14px;
            font-family: $altfont;
            color: $textcolor;  
            position: absolute;
            top: 15px;
            left: 25px;              
        }
        .owl-clientes .owl-nav .owl-prev,.owl-clientes .owl-nav .owl-next{
            position: absolute;
            height: 32px;
            width: 12px;
            margin-top: -16px;
            background-repeat: no-repeat !important;
            overflow: hidden;
            text-indent: 999px;
            background: none;
        }
        .owl-clientes .owl-nav .owl-prev{
            left: -25px;
            top: 50%;           
            background-image: url(../img/icons/prev.png) !important;
            
        }
        .owl-clientes .owl-nav .owl-next{
            right: -25px;
            top: 50%;                                         
            background-image: url(../img/icons/next.png) !important;           
        }
    }
}

section.home__novedades{
    .home__novedades--header{
        background-color: $color-base;
        padding: 10px 0;
        .home__novedades--titulo{
            h2{
                color: $white; font-size: 42px; margin: 0; text-transform: uppercase; font-weight: 400;
            }
        }
    }
    .home__blog--wrap{
        padding-top: 50px;
        padding-bottom: 30px;
        .fecha__blog{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 15px;
            background-color: $color-secondary;
            p{
                font-size: 36px; color: $white; text-align: center; margin: 0;
                span{ font-family: $altfont; font-size: 12px; display: block; }
            }
        }
    }
}




section.home__contacto{
    padding-bottom: 50px;
    .home__contacto--mapa{
        position: relative;
    }
    .home__contacto--wrap{
        background-color: $color-extra1;
        max-width: 346px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 5%;
        margin-top: -180px;
        img{margin-bottom: 40px;}
        p{
            font-weight: 300;
            margin-bottom: 20px;
            font-size: 14px;
            padding-left: 40px;
            position: relative;
            color: $white;
            a{color: $white; &:hover{color: $color-secondary;}}
            &.ubi{
                &::before{
                    content: url(../img/icons/ubi.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    left: 0;
                }
            }
            &.phone{
                &::before{
                    content: url(../img/icons/phone.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 33px;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    top: -5px;
                }
            }
            &.mail{
                &::before{
                    content: url(../img/icons/mail.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 40px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .home__contacto--redes{
            ul{list-style: none;  padding: 0; margin: 0;
                li{display: inline-block; margin-right: 10px;
                    &:last-child{margin-right: 0;}
                    img{width: 32px; height: 32px; margin: auto;}
                    a{
                        font-weight: 300;
                        font-size: 14px;
                        color: $white;
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

.formulario__contacto{           
    margin: auto; 
    .row{
        margin-right: -5px;
        margin-left: -5px;}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
        padding-right: 5px;
        padding-left: 5px;
    }  
    input, textarea, select{
        border: none;
        padding: 8px 10px;
        display: inline-block;
        max-width: 100%;
        background: #ececec;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
        color: $black;
        &:focus{outline: none;}
    }
    textarea{
        max-width: 100%;
        height: 155px;
        margin-bottom: 6px;
    }
    input::placeholder, textarea::placeholder{
        font-size: 16px;        
        color: $textcolor;
        font-family: $altfont;
        font-weight: 400;         
    }
    input.input__enviar{
        margin: auto;
        margin-top: 10px;
        font-family: $altfont;
        display: inline-block;
        max-width: 300px;
        text-align: left;
        padding: 15px 25px;
        border-radius: 3px;
        color: $white;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        background: $color-secondary;
        transition: 0.5s;
        border: none;
        &::before{
            content: url(../img/icons/icon-enviar.png);                
            vertical-align: middle;                
            padding-right: 15px;
            width: 25px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;                          
        }
        &:hover{
            background: $color-base; 
            color: $color-extra1;            
        }
    }
    .control__enviar{text-align: center;}    
}
.form__hide, .popup__hide {
    display: none;
    .form__respuesta, .popup__diagnostico__respuesta{
        text-align: center;
        padding: 40px 0;
    }    
    img{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        height: 34px;
    }
    p{
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        max-width: 250px;
        margin: auto;
    }
}


  