section.home__slider {
    background-color: #f3f3f3;    
    .item{
        background-repeat: no-repeat;    
        background-position: center bottom;
        background-size: cover;
        min-height: 497px;
        position: relative;       
    }
    // h2{ 
    //   color:$white; font-size: 58px; font-weight: bold; text-align: center; margin: auto; text-transform: uppercase;
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   width: 100%;
    //   margin-top: -34px;
    // }
}
section.home__somos{
    background-color: $color-base;
    padding-top: 70px;
    padding-bottom: 50px;
    .home__somos--wrap{
        background-color: $color-secondary;
        position: relative;
        max-width: 735px;
        margin: auto;
        padding: 0px 78px;
        padding-top: 70px;
        padding-bottom: 60px;
        &::before{
            content: "";
            background-image: url(../img/icons/quote.png);
            position: absolute;
            top: 0;
            left: 0;
            height: 67px;
            width: 81px;
        }
        p{
            color: $white;
            font-weight: 400;
            font-size: 20px;
            span{background-color: $color-base;}
        }
        a{
            font-size: 21px;
            color: $color-base;
        }        
    }
    .home__somos--wrap2{
        padding-top: 50px;
        text-align: center;
        h2{
            color: $white; font-size: 55px; font-family: $altfont; margin: 0;
        }
    }
}

section.home__productos{
    background-color: $color-secondary;
    padding-top: 120px;
    .home__productos--contenedor{
        margin-bottom: -130px;
    }
    .home__productos--item{
        text-align: center;     
        position: relative;   
        h2{
            margin: 0; font-size: 35px; color: $white; font-family: $altfont; margin-bottom: 5px;       
            display: none; 
        }
        .texto__img{
            position: absolute;
            top: -37px;
            left: 32%;
            &.img4{left: 56%;}
        }
        .home__productos--item-img{
            background-image: url(../img/icons/bg-producto.svg);
            background-position: center top;
            background-repeat: no-repeat;
            padding: 10px;
        }       
    }
}

section.home__allpa{
    padding-top: 230px;
    .home__allpa--contenido{
        border: 3px solid $color-base;
        padding: 50px 60px;
        padding-bottom: 50px;
        position: relative;
        max-width: 446px;
        margin: auto;
        margin-top: 15px;
        h2{font-size: 28px; font-family: $altfont; color: $color-base;            
            margin: 0;
            position: absolute;
            top: -20px;
            background-color: $white;
            padding: 0 15px;
            left: 20px;
            letter-spacing: -1px;
        }
        p{
            color: $textcolor; font-size: 14px; font-weight: 400; line-height: 28px; margin: 0; font-weight: 600;
        }
    }
}

section.home__compromiso{
    background-image: url(../img/bg-compromiso.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding: 80px 0;
    margin-top: -35px;
    z-index: 1;
    position: relative;
    .home__compromiso--item{
        background-color: $white;
        padding: 30px 35px;
        margin-bottom: 50px;
        max-width: 427px;
        position: relative;
        &:last-child{margin-bottom: 0;}
        h2{font-size: 26px; font-family: $altfont2; color: $color-base; margin:0; margin-bottom: 10px; }
        p{
            color: $textcolor; font-size: 14px; font-weight: 400; line-height: 27px; margin: 0; font-weight: 600;
        }
        &.item2{left: 38%;}
        &.item3{left: 18%;}
    }
   
}

section.home__historias{
    background-color: $white;
    padding: 50px 0;
    .home__historias--contenido{
        background-color: #ededed;
        padding: 20px 0;
    }
}

section.home__contacto{
    padding-bottom: 50px;
    .home__contacto--mapa{
        position: relative;
    }
    .home__contacto--wrap{
        background-color: $color-extra1;
        max-width: 346px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 5%;
        margin-top: -180px;
        img{margin-bottom: 40px;}
        p{
            font-weight: 300;
            margin-bottom: 20px;
            font-size: 14px;
            padding-left: 40px;
            position: relative;
            color: $white;
            a{color: $white; &:hover{color: $color-secondary;}}
            &.ubi{
                &::before{
                    content: url(../img/icons/ubi.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    left: 0;
                }
            }
            &.phone{
                &::before{
                    content: url(../img/icons/phone.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 33px;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    top: -5px;
                }
            }
            &.mail{
                &::before{
                    content: url(../img/icons/mail.svg);                
                    vertical-align: middle;                
                    padding-right: 15px;
                    width: 40px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .home__contacto--redes{
            ul{list-style: none;  padding: 0; margin: 0;
                li{display: inline-block; margin-right: 10px;
                    &:last-child{margin-right: 0;}
                    img{width: 32px; height: 32px; margin: auto;}
                    a{
                        font-weight: 300;
                        font-size: 14px;
                        color: $white;
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

.formulario__contacto{           
    margin: auto;
    label.input__adjunto{
        color: $white; 
        font-size: 14px;    
        cursor: pointer;
        line-height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        &:hover{color: $color-secondary; transition: $hovertransition;}
        input{
            width: .1px;
            height: .1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        &::after{
            content: url(../img/icons/adjunto.svg);                
            vertical-align: middle;
            position: relative;
            top: -10px;
            padding-left: 7px;
            width: 38px;
            height: 38px;
            display: inline-block;
        }
    }
    input, textarea, select{
        border: none;
        padding: 8px 10px;
        display: inline-block;
        max-width: 100%;
        background: #ececec;
        margin-bottom: 20px;
        width: 100%;
        font-size: 14px;
        color: $black;
        &:focus{outline: none;}
    }
    textarea{
        max-width: 100%;
        height: 155px;
        margin-bottom: 0;
    }
    input::placeholder, textarea::placeholder{
        font-size: 14px;
        font-style: italic;
        color: $textcolor;
        font-weight: 300;         
    }
    input.input__enviar{
        margin: auto;
        display: inline-block;
        max-width: 101px;
        padding: 6px 25px;
        border-radius: 25px;
        color: $black;
        font-size: 14px;
        font-weight: 400;
        background: $color-secondary;
        border: none;
        &:hover{
            background: $white; 
            color: $color-extra1;
            transition: 0.5s;
        }
    }
    .control__enviar{text-align: center;}    
}
.form__hide, .popup__hide {
    display: none;
    .form__respuesta, .popup__diagnostico__respuesta{
        text-align: center;
        padding: 40px 0;
    }    
    img{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        height: 34px;
    }
    p{
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        max-width: 250px;
        margin: auto;
    }
}


  