/*==========================
    Baterias Automotrices
===========================*/
body.page-template-template-baterias, body.tax-seccionbateria, body.tax-marcabateria{
    section.catalogo{
        padding-top: 50px;
        background-image: url(../img/bg-catalogo2.jpg);
    }
}

/*---------------
Nosotros
-------------*/
section.page__nosotros{
    background-image: url(../img/slider.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 435px;
    padding: 30px 0;        
    .page__nosotros--contenido{
        background-image: url(../img/bg-nosotros.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        padding: 40px 60px; padding-top: 25px;
        padding-right: 25px;
        max-width: 934px;
        margin: auto;
        margin-bottom: -75px;
        z-index: 1;
        position: relative;
        h3{
            margin: 0; color: $color-base; font-size: 30px;
            display: inline-block;
            margin-bottom: 40px; font-family: $altfont; letter-spacing: -1px;
            &::after{
                content: "";
                width: 16px; height: 16px;
                background-color: $color-secondary;
                border-radius: 50%;
                display: inline-block;
                margin-left: 8px;
                margin-bottom: -8px;            
            }
        }
        p{
            margin: 0; color: $textcolor; font-weight: 600; font-size: 14px; line-height: 25px;
        }
        .page__nosotros--contenido--img{
            text-align: center;
            img{
                position: relative;
                bottom: -40px;
            } 
        }
    }
}

section.pages__nosotros--cultivos{
    padding-top: 120px; padding-bottom: 120px;
    background-color: $color-base;
    background-image: url(../img/bg-nosotros2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 50px;
    h2.titulo{ margin: 0; color: $white; font-size: 30px; font-family: $altfont; text-align:center;}
    .page__nosotros--cultivos--contenido{
        max-width: 934px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 100px;
        .page__nosotros--cultivos--item{
            background-image: url(../img/icons/bg-producto.svg);
            background-position: center top;
            background-repeat: no-repeat;            
            text-align: center;
            border-radius: 50%;
            height: 257px;
            width: 252px;
            margin: auto;
            padding: 12px;
            display: table;
            .page__nosotros--cultivo--wrap{
                background-color: $white;
                display: table-cell;
                vertical-align: middle;
                border-radius: 50%;
            }
            img{margin: auto; max-width: 100%; margin-bottom: 20px; height: 57px;}
            p{color: $textcolor; font-size: 16px; font-weight: 600; margin: 0;}
        }
    }
    .home__compromiso--item{
        background-color: $white;
        padding: 30px 35px;
        margin-bottom: 50px;
        max-width: 427px;
        position: relative;
        &:last-child{margin-bottom: 0;}
        h2{font-size: 26px; font-family: $altfont2; color: $color-base; margin:0; margin-bottom: 10px; }
        p{
            color: $textcolor; font-size: 14px; font-weight: 600; line-height: 27px; margin: 0;
        }
        &.item2{left: 38%;}
        &.item3{left: 18%;}
    }


}

/*==========================
    Porducto
===========================*/
section.page__productos{    
    background-image: url(../img/bg-producto.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $color-base;    
    padding-top: 50px;
    background-size: contain;
    height: 450px;
    margin-bottom: 50px;
    .page__productos--wrap{          
        .page__productos--contenido{
            box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
            background-color: $color-secondary;
            max-width: 408px;
            margin: auto;
            padding: 50px 70px;
            h2{margin: 0; font-size: 30px; color: $white; font-family: $altfont; margin-bottom: 15px;}
            p{margin: 0; font-size: 14px; font-weight: 400; color: $white; line-height: 25px;}
        }
        .page__productos--img{}
    }   
}
section.page__productos--lista{
    padding-top: 300px;
    padding-bottom: 250px;
    .page__productos--item{
        border-radius: 100px;
        border: 5px solid $color-secondary;
        position: relative;
        max-width: 934px;
        margin: auto;
        padding: 15px 75px;
        padding-left: 250px;
        margin-bottom: 200px;
        &:last-child{margin-bottom: 0;}
        img{
            position: absolute;
            top: -35px;
            left: -25px;
        }
        h2{
            margin: 0; font-size: 30px; font-family: $altfont; color: $color-secondary; margin-bottom: 15px;
        }
        p{
            color: #3f3f3f; font-size: 14px; font-weight: 600; line-height: 25px;
            a{
                color: $color-base; 
                &:hover{color: $color-secondary;}
            }
        }
    }
}
section.home__historias{
    padding: 70px 0;
    padding-top: 0;
}

/*---------------
Contacto
-------------*/
body.page-template-template-contact{
    section.home__contacto {        
        padding-top: 50px;
    }
}
section.page__contacto{    
    .page__contacto--wrap{
        background-color: $color-extra1;
        padding: 35px 45px;
        margin-bottom: 60px;
        h3{
            margin: 0; padding-bottom: 15px; color: $white; font-weight: 400; font-size: 20px; border-bottom: 2px solid $color-secondary;
            margin-bottom: 20px;         
        }        
    }
    .home__somos--contenido{
        h1{
            font-size: 40px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            font-size: 25px !important;
            font-weight: 500 !important;
        }
        p{
            margin-bottom: 10px !important;
        }
        p.pf{
            font-size: 15px;
            font-weight: 300;
            a{
                font-size: 15px;
                display: block;
                font-weight: 300;
                margin-top: 5px;
                color: $white;
                &:hover{
                    transition: $hovertransition;
                    color: $color-base
                }
            }
        }
    }
}
section.internas__contacto{
    padding: 50px 0;
    padding-bottom: 100px;
    h2{
        font-size: 44px;
        font-weight: 400;        
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p{        
        font-size: 23px;
        font-weight: 500;
        line-height: 27px;
        a{
            color: $textcolor;
            &:hover{
                color: $color-base;
            }
        }
    }
    .internas__contacto--descrip{
        padding-bottom: 30px;
    }
    .formulario__contacto input, .formulario__contacto textarea, .formulario__contacto select{
        border: 3px solid $color-base;
        color: $textcolor;
    }
    .formulario__contacto input.input__enviar:hover{
        background-color: $color-base;
        transition: 0.5s;
        color: $white;
    }
    input::placeholder, textarea::placeholder{        
        color: $textcolor;             
    }
}
